::-moz-selection {
  color: black;
  background-color: rgba(255, 255, 255, 0.99);
}

::selection {
  color: black;
  background-color: rgba(255, 255, 255, 0.99);
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  pointer-events: visible;

  padding: 0;
  margin: 0;
  overflow: hidden;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
  -webkit-user-drag: none;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

td:not([align]),
th:not([align]) {
  text-align: inherit;
}

html {
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;

  overflow-x: hidden;

  min-width: 100%;
}

@media screen and (min-width: 512px) {
  html {
    font-size: 3.125vw;
  }
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

body,
button,
input,
select,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial,
    sans-serif;
}

@font-face {
  font-family: "AGChoiJeongHoStd-Regular";
  src: local(※), url(../fonts/AGChoiJeongHoStd-Regular.woff) format("woff"),
    url(../fonts/AGChoiJeongHoStd-Regular.woff2) format("woff2");
}

@media screen and (min-width: 512px) {
  body {
    font-weight: 600;
  }
}

code,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: monospace;
}

body {
  font-family: "AGChoiJeongHoStd-Regular";
  width: 100%;
  font-size: 0.75rem;
  line-height: 1.7;
}

img {
  position: absolute;
}

.box {
  width: 100%;
  height: 100vh;
  background-color: black;
}

#blink {
  position: absolute;
  animation: blink-effect 0.1s step-end infinite;
  z-index: -1;
}

@keyframes blink-effect {
  25% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
}

p#clock {
  position: absolute;
  padding-left: 16px;
  font-size: 1.25rem;
  align-self: center;
  justify-self: center;
  text-align: left;

  z-index: 1;
  color: #000;
}

p#boom {
  width: 100%;
  position: absolute;
  padding-left: 16px;
  bottom: 12px;
  text-align: left;
  font-size: 1.25rem;
  line-height: 1.4;
  align-self: center;
  justify-self: center;

  z-index: 1;
  color: #000;
}
.img-boom {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  filter: invert(100%);
}
.img-pie {
  top: 30%;
  left: 20%;
  transform: translate(-50%, -50%);
  width: 7%;

}

.img-firework {
  top: 7%;
  left: 10%;
  transform: translate(-50%, -50%);
  animation: rotating 20s linear infinite alternate;
  width: 15%;
}

.img-circle1{
  top: 75%;
  left: 80%;
  transform: translate(-50%, -50%);
  width: 5%;
}
.img-circle2{
  top: 15%;
  left: 58%;
  transform: translate(-50%, -50%);
  width: 5%;
}
.img-circle3{
  top: 45%;
  left: 15%;
  transform: translate(-50%, -50%);
  width: 5%;
}
.img-as {
  top: 85%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 7.5%;
  animation: rotating 5s linear infinite alternate;
  transform-origin: 50% 50%;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.img-bar {
  top: 60%;
  left: 24px;

  width: 1%;
}
.img-b {
  top: 15%;
  left: 15%;
  transform: translate(-50%, -50%);
  width: 12%;
}
.img-m {
  top: 85%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 8%;
}

.bar-box {
  width: 100%;
}

.loader4 {
  position: absolute;
  width: 1vw;
  height: 80px;

  top: 45%;
  left: 24px;
  transform: translate(-50%, -50%);

  background-color: rgba(255, 255, 255, 1);

  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

.loader4:before {
  content: "";
  position: absolute;
  background-color: black;
  top: 0px;
  left: 0px;
  height: 0px;
  width: 1vw;
  z-index: 0;
  opacity: 1;
  -webkit-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
  -webkit-animation: loader4 0.15s infinite alternate;
  animation: loader4 0.15s infinite alternate;
}

.loader4:after {
  color: #fff;
  position: absolute;
  width: 6px;
  height: 100%;
  left: 0;
  top: 0;
}

@-webkit-keyframes loader4 {
  0% {
    height: 100%;
    opacity: 1;
  }
  100% {
    height: 0px;
  }
}

@keyframes loader4 {
  0% {
    height: 100%;
    opacity: 1;
  }
  100% {
    height: 0px;
  }
}

footer {
  position: absolute;
  font-size: 0.25rem;
  bottom: 12px;
  right: 36px;

  word-break: keep-all;
}
