:root[color-theme="light"] {
  --background: #fff;
  --boxColor: #000;
}

:root[color-theme="dark"] {
  --background: #000;
  --boxColor: #fff;
}

::-moz-selection {
  color: black;
  background-color: rgba(255, 255, 255, 0.99);
}

::selection {
  color: black;
  background-color: rgba(255, 255, 255, 0.99);
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  pointer-events: visible;

  padding: 0;
  margin: 0;
  overflow-y: hidden;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
  -webkit-user-drag: none;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

td:not([align]),
th:not([align]) {
  text-align: inherit;
}

html {
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;

  overflow-x: hidden;
  background: var(--background);
  min-width: 100%;
}

@media screen and (min-width: 512px) {
  html {
    font-size: 3.125vw;
  }
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

body,
button,
input,
select,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial,
    sans-serif;
}

@font-face {
  font-family: "AGChoijeonghoMinburiStdBold";
  src: local(※),
    url(../fonts/AGChoijeonghoMinburiStdBold.woff) format("woff"),
    url(../fonts/AGChoijeonghoMinburiStdBold.woff2) format("woff2");
}

@media screen and (min-width: 512px) {
  body {
    font-weight: 600;
  }
}

code,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: monospace;
}

body {
  font-family: "AGChoijeonghoMinburiStdBold";
  font-size: 1rem;
}

header {
  position: absolute;
  font-size: 2.5rem;
  margin-left: 16px;
  line-height: 1.15;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

@media screen and (max-width: 375px) {
  header {
    font-size: 2rem;
  }
}

h1 {
  grid-column: 1;
}

h2 {
  grid-column: 2;
  transition: margin-left 0.25s;
}

h2:hover {
  margin-left: 72px;
}

footer {
  position: absolute;
  bottom: 16px;
  margin-left: 16px;
  font-size: 1rem;
}

.themed {
  display: block;
  width: 100%;
  height: 150vh;
  background: var(--boxColor);
  color: var(--background);
}

input {
  position: fixed;
  z-index: 10001;
}

.check {
  bottom: 16px;
  right: 16px;
  width: 36px;
  height: 36px;

  transition: background-color 0.4s;
  cursor: pointer;
  transform-origin: bottom;
}

.check:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

a {
  text-decoration: underline;
  text-underline-position: under;
  color: var(--background);
}

/* /// pages /// */

p {
  font-size: 0.5rem;
  line-height: 1.7;
  word-break: keep-all;
}

img {
  position: absolute;
}

.head-1 {
  position: absolute;
}
.head-2 {
  left: 50%;
  position: absolute;
}
.head-3 {
  right: 16px;
  position: absolute;
}
.back {
  position: fixed;
  font-size: 0.75rem;
  bottom: 0;
  padding: 0.5rem;
}

.section {
  padding: 0.1rem 0.5rem 0.5rem 0.5rem;
  opacity: 0.5;
  transition: opacity 0.25s;
  transition-delay: 0.125s;
}

.section:first-child(1) {
  opacity: 1;
}

.section:hover {
  opacity: 1;
}

.content {
  position: relative;
  font-size: 0.5rem;
  width: 37.5%;
}
.content:nth-child(1) {
  top: 2.5rem;
}

.content:nth-child(1)::before {
  content: "";
  position: absolute;
  font-size: 0.5rem;
}

/* slide */

.swiper {
  position: absolute;
  width: calc(50% - 16px);
  height: 100%;

  top: 3.25rem;
  left: 50%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-pagination {
  display: none;
}
